extends baseEmail

block content
    p Hi #{firstName},
    p forgot your password? Submit a PATCH request with your new password and passConfirm to: #{url}.\n if you didnt forget, just ignore
    p (Website Not yet implemented for this action)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Upload user photo
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Jonas Schmedtmann, CEO